.footer {
    background-color: #58595b;
    padding: 40px 0;
    color: #fff;
  }
  
  /* Footer Logo */
  .footer-logo img {
    width: 200px;
    height: 180px;
  }
  
  /* Footer Address */
  .footer-address a {
    color: #fff;
  }
  
  /* Footer Phone */
  .footer-phone {
    color: #fff;
  }
  
  /* Footer Title */
  .footer-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Footer Menu */
  .footer-menu li {
    margin-bottom: 10px;
    margin-Right: -30px
  }
  
  .footer-menu a {
    color: #fff;
  }
  
  /* Footer Social Links */
  .footer-social-links li {
    margin-bottom: 10px;
  }
  
  .footer-social-links a {
    color: #ffffff;
    
    align-items:start;
  }
  
  .footer-social-links i {
    margin-right: -30px;
  }